$font: "Quicksand", sans-serif;
$primary: #64c0dc;
$black: black;
$white: white;
$text: #677279;
$blue: #338dbc;
$orangered: #f94c43;
$textDark: #252a2b;
$textLight: #939393;
$border: 1px solid #d4d6d8;
$borderBottom: 1px solid #ededed;
$borderTop: 2px solid #5c5c5c;
$boxShadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
$backgroundSearch: #f2f5fa;
$backgroundf2: #f2f5fa;
$borderE3: 1px solid #e3e5ec;
