.banner {
  margin-top: 10px;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &-box {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
      @include transitionTime(0.8s);
    }

    &:hover .button-box i {
      left: 5px;
      color: $primary;
    }

    &:hover .button-text {
      color: $primary;
    }

    &:hover img {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  @include md {
    &-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include sm {
    padding: 0 10px;
  }
}
