.status {
  &-container {
    grid-gap: 30px;
  }

  &-right {
    padding-bottom: 25px;
  }

  &-title {
    font-size: 2.5rem;
    margin: 20px 0;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.7;
  }

  &-list {
    padding-left: 15px;

    li {
      list-style: inside;
    }
  }
}